@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#telasLienzo{
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}
 
.productos__titulo {
    color: rgb(6, 163, 90);
    font-size: 2.7rem;
    font-family: 'Gentium Book Basic', serif;
    
    text-align: center;
    letter-spacing: 2px;
    margin-top: 100px;
    margin-bottom: 100px; 
}


.productos__subtitulo{
    color: rgb(51, 158, 51);
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.productos__lista{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 25px;
}


.productos__parrafo{
    text-align: center;
    line-height: 2;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}


.producto__img{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    grid-area: productoimg;
}

.producto__img1y2{
    width: 340px;
    height: 340px;
}

.producto__img3{
    width: 294px;
    height: 294px;
}



.tiposdelienzo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.tiposdelienzo__titulo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    color:  rgb(51, 158, 51);
}

.tiposdelienzo__produc{
    display: flex;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
    justify-content: center ;
}

.tiposdelienzo__produc img{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(148, 187, 221);
    transition: all 0.3s linear;
}

.tiposdelienzo__produc img:hover{
    opacity: 0.75;
}

.rollolienzo {
    line-height: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.rollolienzo h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    color:  rgb(92, 190, 92);
}

.rollolienzo span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.grano__fino{
    flex-basis: 20%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.grano__medio{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.grano__grueso{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.canvas__negro{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.lienzos--descripcion{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1 rem;
    color: rgb(59, 59, 59);
}

.lienzos--gramos{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1 rem;
    color: rgb(59, 59, 59);
    
}


#molduras{
    margin-top: 200px;
}


.molduras__titulo{
    text-align: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    color:  rgb(92, 190, 92);
    margin-bottom: 30px;
}

.molduras__lista{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
    color: rgb(58, 58, 58);
    font-weight: 700;
}

.molduras__sublista{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    justify-content: center;
    padding: 10px;
    
    list-style: none;
    color: rgb(58, 58, 58);
}

#molduras__imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

.molduras__img1 {
    height: 250px;
    width: 400px;
}

.molduras__img2 {
    height: 300px;
    width: 300px;
}


#medidas{
    margin-top: 200px;
}


#medidas__img{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#medidas__img img{
    width: 70%;
    height: auto;
    box-shadow: 10px 10px 8px rgb(181, 189, 195);
    border-radius: 3px;
} 



.medidas__titulo{
    text-align: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    color:  rgb(92, 190, 92);
    
}

.medidas__lista{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 2;
    color: rgb(77, 77, 77);
    text-align: justify;
    list-style-position: inside;
}



