@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap');


#footer{
    background-color: rgb(135, 180, 190);

    &__nav{
        list-style: none;
        &__li{
            margin-top: 5px;
        }
    
        &__a{
            text-decoration: none;
            font-family: 'Halant', serif;
            transition: all 0.3s ease-in;
            font-size: 1.2rem;
            font-weight: 800;
            color: rgb(0, 0, 0);
    
            &:hover{
                color: rgb(255, 255, 255); 
            }
        }
    }
    

    &__p{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        margin-top: 25px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        line-height: 1;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
        font-family: 'Halant', serif;
        border-right: solid 2px rgb(101, 144, 151);
        border-left: solid 2px rgb(101, 144, 151); 
        text-align: center; 
        
    }


    &__redes__a{
            text-decoration: none;
    }

   
    

    &__end{
        background: rgb(97, 134, 146);
        width: 100%;
        height: auto;
        margin-bottom: 0px;

        &__p{
            font-size: 0.8rem;
            word-spacing: 2px;
            color:rgb(0, 0, 0);
            margin-bottom: 0px;
        }

        &__span{
            opacity: 0.3;
            font-weight: 200;
        }
    }
}




#footer__redes__img{
    transition: all  0.25s linear; 
    color: black;
    height: 27px;
    width: 27px;

    &:hover{
        transform: scale(1.2);
        opacity: 1;     
    }
}



#footer__redes__insta{
    @extend #footer__redes__img;
}

#footer__redes__insta:hover{
    @extend #footer__redes__img:hover;
    color: rgb(192, 0, 144);     
}

#footer__redes__face{
    @extend #footer__redes__img;
}

#footer__redes__face:hover{
    @extend #footer__redes__img:hover;
    color: rgb(3, 0, 185);     
}

#footer__redes__mail{
    @extend #footer__redes__img;
}

#footer__redes__mail:hover{
    @extend #footer__redes__img:hover;
    color: rgb(0, 215, 253);     
}

#footer__redes__wpp{
    @extend #footer__redes__img;
}

#footer__redes__wpp:hover{
    @extend #footer__redes__img:hover;
    color: rgb(0, 255, 34);     
}










