@import "../animations";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');


#header{
    background-color: rgb(114, 155, 165);
    padding: 10px;
    margin-bottom: 0px;
    
    &__logo{
        margin-left: 70px;
        width: 30%;
        height: auto;
        
        @include lg{
            margin-left: 0px;
        }

        @include md{
            margin-left: 40px;
        }

        @include sm{
            margin-left: 0px;
        }

        @include xs{
            margin-left: 0px;
        }
            &-img{
            width: 150px;
            height: auto;
            }
    }

    &__nav-links{
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        padding: 5px 10px;
        margin-left: 10px;
        transition: background-color 0.3s linear;
        
        transition: transform 0.3s linear;
       

        @include lg{
            padding: 5px 5px;
            font-size: 1.2;
        }
        &:hover{
            background-color:rgba(94, 129, 138, 0.555); 
            border-radius: 6px;
            transform: scale(0.9);
            color: rgb(0, 255, 255);
            font-weight: 600;
        }
    }

    &__separador{
        height: 5px;
        margin: 0px 0px;
        border: none;
      }
            
}


