@import "../animations";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

#hero{
    background-image: url("../images/fondohero.jpeg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;

    &__titulo{
        font-family: 'Roboto Slab', serif;
         font-size: 1.9rem;
         color: rgb(255, 255, 255);
         font-weight: bold;
         border-bottom: solid 2px rgb(116, 188, 221);
         margin-top: 55px;
         margin-bottom: 50px;
     }

    &__subtitulo{
        font-size: 3.4rem;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 80px; 
    }

    &__btn{
        text-decoration: none;
        padding: 12px 18px;
        color:rgba(255, 255, 255, 0.993) ;
        transition: all 0.3s linear;
        border-radius: 4px;
        background-color: rgb(255, 71, 71);
        margin-top: 15px;
        border-radius: 10px;
        font-size: 1.2rem; 

        &:hover{
            background-color:rgb(136, 19, 19)
        }
    }


     
}


