@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


#index__pedidos{
    height: 22vh;
    padding: 10px;

    &__subtitulos{
        text-decoration: none;
        font-family: 'PT Serif', serif;
        font-size: 1.3rem;
        color: black;
        font-weight: 700;
            &:hover{
                color: black;
            }
    }
        

    &__enlaces{
        text-decoration: none;
        color: black;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.2rem;
        font-weight: 900;
        transition: all 0.2s linear;
            &:hover{
                color: rgb(60, 187, 103);
                opacity: 0.7;
            }
    }           
}





