#medidas{
    margin-top: 200px;

    &__img{
        display: flex;
        
        gap: 5px;
        justify-content: center;
        align-items:center; 

        &__1y2{
            width: 50%;
            height: auto;
            box-shadow: 10px 10px 8px rgb(181, 189, 195);
            border-radius: 3px;
        } 
        
    }
}





