#precios__bastidores{
    @extend #flex-row-center; 
    width: 100%;
    height: 100%;
    &__img{
        width: 75%;
        height: auto;
        @include xs{
            width: 100%;
        }

        @include md{
            width: 85%;
        }

        @include sm{
            width: 95%;
        }
    }
}





