#precios__bastidores{
    @extend #flex-row-center; 
    width: 100%;
    height: 100%;
    &__img{
        width: 75%;
        height: auto;
        @include xs{
            width: 100%;
        }

        @include md{
            width: 95%;
        }

        @include sm{
            width: 95%;
        }
    }
}

#arrow-left-right{
    font-size: 1.2rem;
    margin: 0px 5px;
    color: rgb(0, 128, 0);
    
}

#precio-siguiente{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(61, 61, 61);
    transition: all 0.1s linear;
    @include sm{
        font-size: 1.2rem;
    }

    @include xs{
        font-size: 1.3rem;
    }
    
    &:hover{
        color: rgb(0, 128, 0);
    }
}

#precios_end{
    margin-top: 50px;


    &_row{
        @include xs{
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
        }

        @include sm{
            justify-content: center;
            align-items: center;
        }

        @include md{
            justify-content: center;
            align-items: center;
        }
        @include lg{
            justify-content: center;
            align-items: center;
        }
    }
}
