@import "./vars";

#subtitulo{
    color: $subtitulo_color;
    font-size: $subtitulo_font-size;
    margin-bottom: $subtitulo_margin-bottom;
    font-family: $subtitulo_font-family;
    text-align: $subtitulo_text-align;
}