
#telasLienzo{
    
    &__txt{
        font-family: $txtGeneral_font-family;
        font-size: 1.1rem;
        text-align: center;
    }

    &__telas__img1y2{
        width: 100%;
        height: auto;
    }

    &__telas__img3{
        width: 90%;
        height: auto;
    }

    
    

    &__producto__lienzos{

    
        &__img{
            width: 95%;
            height: auto;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgb(148, 187, 221);
            transition: all 0.3s linear;
                &:hover{
                    opacity: 0.75;
                }
        }

        &__descripcion{
            font-family: 'Ubuntu', sans-serif;
            font-size: $txtGeneral_font-size;
            color: rgb(59, 59, 59);
            text-align: center;
        }

        &__gramos{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.1rem;
            color: rgb(59, 59, 59);
            
        }

        &__rollolienzo{
            line-height: 2;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
            margin-top: 30px;

            &__titulo{
                font-family: 'Ubuntu', sans-serif;
                font-size: 1.3rem;
                color:  rgb(92, 190, 92);
            }
        }
    }
}
 



























